<div class="big_box">
	<h1>AILEEN-IFY YOUR EMAIL</h1>
		<form action="/" method="POST">
			<textarea type="text" name="email" placeholder="Enter the body of your email here."></textarea>
			</br>
			<button type="submit" value="Aileen">AILEEEEENNNNNN!</button>
		</form>
</div>

<%= params.inspect %>