.big_box
	%h1 AILEEN-IFY YOUR EMAIL
		%form{:action=>"/aileen", :method=>"POST"}
			%textarea{:type=>"text", :name=>"email", :placeholder=>"Enter the body of your email here."}
			%button{:type=>"submit", :value=>"Aileen"}AILEEEEENNNNNN!
