@mixin border-radius($radius) {
	-webkit-border-radius: $radius; 
     -moz-border-radius: $radius;
       -o-border-radius: $radius;
          border-radius: $radius;
}

$font-stack: 'Droid Sans Mono', sans-serif;

body {
	background-color: gold;
	font-family: $font-stack;
}

h1 {
	text-align: center;
	padding-top: 20px;
}

p {
	padding: 20px;
}

.big_box {
	min-height: 600px;
	width: 600px;
	margin: auto;
	margin-top: 10%;
	background-color: white;
  @include border-radius(40px);
  position: relative;
}

textarea {
	width: 300px;
	height: 300px;
}

form {
	padding: 40px 153px 0 147px;
}

button {
	margin: 20px 90px;
}

span.italic {
	font-style: italic;
}

nav {
	position: absolute;
	bottom: 15px;
	right: 15px;
}

a {
	text-decoration: none;
}


