.big_box
  %h1 
    NOW THAT'S HOW IT</br><span class="italic">SHOULD</span> SOUND!!!!!
  %p
    - @output.each do |paragraph|
      = paragraph 
      </br>
    %a{:href=>"#{@link}", :target=>"_blank"}= @link
    %img{:src=>"#{@gif}"}
  %nav
    %a{:href=>"/"} Again!!!

